html{
  background-color: beige;
}

#h1Start{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

#buttonStart{
  background-color: #28a745; /* nicer green */
  width: 15%;
  height: 50px;
  margin-left: 38%;
  margin-right: 40%;
  border: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
  border-radius: 8px; /* slightly rounded */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#buttonStart:hover{
  background-color: #218838; /* darker green on hover */
  transform: scale(1.05);     /* subtle grow effect */
}


.h1Question{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 42%;
}

.buttonDiv{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.RealButton {
  background-color: #28a745; /* nicer green */
  width: 40%;
  height: 50px;
  border: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
  border-radius: 8px; /* slightly rounded */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.RealButton:hover {
  background-color: #218838; /* darker green on hover */
  transform: scale(1.05);     /* subtle grow effect */
}

.FakeButton {
  background-color: #dc3545; /* nicer red */
  width: 40%;
  height: 50px;
  border: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.FakeButton:hover {
  background-color: #c82333; /* darker red on hover */
  transform: scale(1.05);
}


#imgPage1{
 padding-left: 300px; 
}

#h1Page1{
    padding-left: 570px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.h1Finish{
  padding-left: 500px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h1FinishQuestion{
  padding-left: 350px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.imgPageFinish{
  padding-left: 400px; 
 }


 p{
  padding-left: 400px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }


 .emailImage{
  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
 }

 iframe{
  width: 60%;
  margin-left: 20%;
  height: 500px;
 }